* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
  background: #162d20;
}

main {
  padding: 36px;
}

.header {
  display: flex; 
  height: 195px;
  background:url(./images/green.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;

 
}
.header--title{
  display: flex;
  align-self: center;
  justify-content: center;
  margin: auto;
  height: 195px;
  width: 418px;
  background-image: url(./images/meme-maker2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.header--project {
  padding-top: 5px;
  font-size: 1rem;
  font-weight: 500;
}

.form {
  display: grid;
  grid-template: 50px 50px / 1fr 1fr;
  gap: 17px;
  margin-bottom: 17px;
}

.form--input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
}

.form--button {
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #474647 1.14%, #7c757e 100%);
  color: white;
  border: none;
  cursor: pointer;
  border-color: #4B5563;
  
}
.form--button:hover{
  background: linear-gradient(90.75deg, #474647, white);
} 

.meme {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 20px solid white;
  border-top-left-radius: 90px;
  border-bottom-right-radius: 90px;
  border-top-color:#7df88a ;
  border-bottom-color: #7df88a;
}

.meme--image {
  max-width: 80%;
  height:auto;
  width: auto;
  border-radius: 10px;
  justify-content: center;
  margin: auto;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}
.saveBtn{
  margin: auto;
}
.bottom {
  bottom: 0;
}

.top {
  top: 0;
}
